<% if @datos.size >0 %>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>dato</td>
            <td>fecha de creación</td>
        </tr>
    </thead>
    <tbody>
        <% for i in @datos %>
        
        <%end%>
    </tbody>

</table>
<%end%>