<% if @datos.size >0 %>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>dato</td>
            <td>fecha de creacion</td>
        </tr>
    </thead>
    <tbody>
        


    </tbody>

</table>
<%end%>