
<div>
    <table>
        <tr><td>ID</td><td><%= @dato.id%></td></tr>
        <tr><td>Descripcion</td><td><%= @dato.description%></td></tr>
        <tr><td></td><td><%= @dato.id%></td></tr>
    </table>
</div>
